<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="contract-work"
          description="msg://ru.stnovator.finassist/menu_config.contract-work.description"
          title="msg://ru.stnovator.finassist/menu_config.contract-work.title">
        <item view="Contract.list" title="msg://ru.stnovator.finassist.view.contract/contractListView.title"/>
        <item view="Addendum.list" title="msg://ru.stnovator.finassist.view.addendum/AddendumListView.title"/>
        <item view="Customer.list" title="msg://ru.stnovator.finassist.view.customer/customerListView.title"/>
        <item view="Project.list" title="msg://ru.stnovator.finassist.view.project/projectListView.title"/>
    </menu>
    <menu opened="true" id="plans"
          description="msg://ru.stnovator.finassist/menu_config.plans.description"
          title="msg://ru.stnovator.finassist/menu_config.plans.title">
        <item view="PaymentSchedule.list" title="msg://ru.stnovator.finassist.view.paymentschedule/PaymentScheduleListView.title"/>
        <item view="ShipmentSchedule.list" title="msg://ru.stnovator.finassist.view.shipmentschedule/ShipmentScheduleListView.title"/>
    </menu>
    <menu opened="true" id="corrections"
          description="msg://ru.stnovator.finassist/menu_config.corrections.description"
          title="msg://ru.stnovator.finassist/menu_config.corrections.title">
        <item view="PaymentScheduleCorrection.list" title="msg://ru.stnovator.finassist.view.paymentschedulecorrection/PaymentScheduleCorrectionListView.title"/>
        <item view="ShipmentScheduleCorrection.list" title="msg://ru.stnovator.finassist.view.shipmentschedulecorrection/ShipmentScheduleCorrectionListView.title"/>
    </menu>
    <menu opened="true" id="facts"
          description="msg://ru.stnovator.finassist/menu_config.facts.description"
          title="msg://ru.stnovator.finassist/menu_config.facts.title">
        <item view="PaymentFact.list" title="msg://ru.stnovator.finassist.view.paymentfact/PaymentFactListView.title"/>
        <item view="ShipmentFact.list" title="msg://ru.stnovator.finassist.view.shipmentfact/ShipmentFactListView.title"/>
    </menu>
    <menu opened="true" id="references"
          description="msg://ru.stnovator.finassist/menu_config.references.description"
          title="msg://ru.stnovator.finassist/menu_config.references.title">
        <item view="LineOfBusiness.list" title="msg://ru.stnovator.finassist.view.lineofbusiness/lineOfBusinessListView.title"/>
        <item view="User.list" title="msg://ru.stnovator.finassist.view.user/UserListView.title"/>
    </menu>
</menu-config>
