DOMAIN=${domain-name}
LETSENCRYPT_EMAIL=admin@mail.com

APP_IMAGE={image-name}
APP_TAG={image tag}

POSTGRES_DB={db_name}
POSTGRES_USER={db-user}
POSTGRES_PASSWORD={db-password}

JAVA_TOOL_OPTIONS=-Xmx1024m -XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40
