DOMAIN=finassist.example.com
LETSENCRYPT_EMAIL=ops@example.com

APP_IMAGE=vfadeevdocker/fin-assist
APP_TAG=0.0.3-SNAPSHOT-prod

POSTGRES_DB=finassist_db
POSTGRES_USER=finassist
POSTGRES_PASSWORD=change-me

JAVA_TOOL_OPTIONS="-Xmx1024m -XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40"
